<%- include("../partials/header") %> <%- include("../partials/navbar") %><%-
include("../partials/messages") %>

<!-- for blog list  -->
<section class="py-4 bg-gray-100">
  <div class="container mx-auto">
    <div>
      <h1 class="text-2xl font-black text-gray-900 px-6 md:px-12">
        Blog/Consult From Admin Side
      </h1>
    </div>
    <div class="flex flex-wrap px-6">
      <%if (blog_list){ %> <% blog_list.forEach(function(eachblog){ %>

      <div class="w-full lg:w-1/2 md:px-4 lg:px-6 py-5">
        <div class="bg-white hover:shadow-xl">
          <div class="">
            <a href="/blogs/view-blog/<%= eachblog.id%>">
              <img
                src="<%= eachblog.image%>"
                alt="blog-pic"
                class="h-56 w-full border-white border-8"
            /></a>
          </div>
          <div class="px-4 py-4 md:px-10">
            <h1 class="font-bold text-lg">
              <a href="/blogs/view-blog/<%= eachblog.id%>">
                <%= eachblog.title%></a
              >
            </h1>

            <div class="flex flex-wrap pt-8">
              <div class="w-full md:w-1/3 text-sm font-medium">
                <%= eachblog.createdAt%>
              </div>
            </div>
            <div class="flex flex-wrap pt-1">
              <div class="w-full md:w-1/3 text-sm font-medium">By Admin</div>
            </div>
          </div>
        </div>
      </div>

      <% }); %> <% } %>
    </div>
  </div>
</section>

<%if (blog_list.length == 0){ %>

<!-- component -->
<div class="mt-20 h-screen">
  <div class="bg-white p-6 md:mx-auto">
    <div class="text-center">
      <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">
        Nothing is on blogs!
      </h3>
      <p class="text-gray-600 my-2">Let admin to write blogs.</p>
      <div class="py-10 text-center"></div>
    </div>
  </div>
</div>

<%}%>
<!-- for blog list  -->
<%- include("../partials/footNav") %> <%- include("../partials/footer") %>
