<%- include("../partials/header") %> <%- include("../partials/navbar") %><%-
include("../partials/messages") %>

<!-- for single blog -->
<style>
  .pt-\[17\%\] {
    padding-top: 17%;
  }
  .mt-\[-10\%\] {
    margin-top: -10%;
  }
  .pt-\[56\.25\%\] {
    padding-top: 56.25%;
  }
</style>

<%if (single_blog){ %>
<main class="relative container mx-auto bg-white px-4">
  <div class="relative -mx-4 top-0 pt-[17%] overflow-hidden">
    <img
      class="absolute inset-0 object-cover object-top w-full h-full filter blur"
      src="<%= single_blog.image%>"
      alt=""
    />
  </div>

  <div class="mt-[-10%] w-1/2 mx-auto">
    <div class="relative pt-[56.25%] overflow-hidden rounded-2xl">
      <img
        class="w-full h-full absolute inset-0 object-cover"
        src="<%= single_blog.image%>"
        alt=""
      />
    </div>
  </div>

  <article class="max-w-prose mx-auto py-8">
    <h1 class="text-2xl font-bold"><%= single_blog.title%></h1>
    <h2 class="mt-2 text-sm text-gray-500">
      Admin, <%= single_blog.createdAt%>
    </h2>
    <h2 class="mt-2 text-sm text-gray-500">
      <%= commentDetails.length%> comments
    </h2>

    <p class="mt-6"><%= single_blog.description%></p>
  </article>
</main>

<section class="text-gray-600 mt-14">
  <div class="container px-3 py-3 mx-auto">
    <div class="flex flex-wrap w-full mb-8">
      <div class="w-full mb-6 lg:mb-0">
        <h1
          class="sm:text-4xl text-5xl font-bold font-medium title-font mb-2 text-gray-900"
        >
          Comments
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <!-- Comment goes here -->

    <%if (commentDetails){ %> <% commentDetails.forEach(function(c){ %>
    <section class="rounded-b-lg mt-4">
      <div id="task-comments" class="pt-4">
        <!--     comment-->
        <div
          class="bg-white rounded-lg p-3 flex flex-col justify-center items-center md:items-start shadow-lg mb-4"
        >
          <div class="flex flex-row justify-center mr-2">
            <img
              alt="avatar"
              width="48"
              height="48"
              class="rounded-full w-10 h-10 mr-4 shadow-lg mb-4"
              src="<%= c.avatar %>"
            />
            <h3
              class="text-purple-600 font-semibold text-lg text-center md:text-left"
            >
              <%= c.fullname %>
            </h3>
          </div>

          <p
            style="width: 90%"
            class="text-gray-600 text-lg text-center md:text-left"
          >
            <%= c.comment %>
          </p>
          <p
            style="width: 90%"
            class="text-gray-600 text-sm mt-1 text-center md:text-left"
          >
            <%= c.commentAt %>
          </p>
        </div>
        <!--  comment end-->
      </div>
    </section>

    <% }); %> <% } %> <% if (user){%>
    <!-- Comment goes here -->
    <div class="flex flex-wrap -m-4">
      <!-- comment form -->
      <div
        class="flex mx-auto items-center justify-center shadow-lg mt-7 mx-8 mb-4 max-w-lg"
      >
        <form
          class="w-full max-w-xl bg-white rounded-lg px-4 pt-2"
          action="/comments/add-blog-comment"
          method="post"
        >
          <input type="hidden" name="b_id" value="<%= single_blog.id%>" />
          <div class="flex flex-wrap -mx-3 mb-6">
            <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">
              Add a new comment
            </h2>
            <div class="w-full md:w-full px-3 mb-2 mt-2">
              <textarea
                class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"
                name="message"
                placeholder="Type Your Comment"
                required
              ></textarea>
            </div>
            <div class="w-full md:w-full flex items-start md:w-full px-3">
              <div class="-mr-1">
                <input
                  type="submit"
                  class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"
                  value="Post Comment"
                />
              </div>
              <div class="-mr-1 ml-2">
                <button
                  type="reset"
                  class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"
                >
                  Clear
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- comment form -->
    </div>
    <%}%>
  </div>
</section>
<% } %> <%- include("../partials/footer") %>
