<%- include("./partials/header") %> <%- include("./partials/navbar") %> <%-
include ('./partials/messages') %>
<style>
  body,
  #slider,
  .wrap,
  .slide-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 75vh;
    overflow-x: hidden;
  }

  .wrap {
    position: relative;
  }

  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .slide1 {
    background-image: url("../images/chat-with-expert.jpg");
  }
  .slide2 {
    background-image: url("../images/medicine.jpg");
  }
  .slide3 {
    background-image: url("../images/home-delivery.png");
  }

  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .slide-content span {
    font-size: 2rem;
    color: rgb(56, 56, 56);
    padding-top: 400px;
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  #arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent rgb(88, 88, 88) transparent transparent;
    left: 0;
    margin-left: 30px;
  }

  #arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent rgb(88, 88, 88);
    right: 0;
    margin-right: 30px;
  }
</style>

<!-- carousel  -->
<div class="wrap">
  <div id="arrow-left" class="arrow"></div>
  <div id="slider">
    <div class="slide slide1">
      <div class="slide-content">
        <span>"Chat With Expert"</span>
      </div>
    </div>
    <div class="slide slide2">
      <div class="slide-content">
        <span>"Buy Medicine Online"</span>
      </div>
    </div>
    <div class="slide slide3">
      <div class="slide-content">
        <span>"Home Delivery In Time"</span>
      </div>
    </div>
  </div>
  <div id="arrow-right" class="arrow"></div>
</div>
<!-- carousel  -->

<!-- new Products  -->
<section class="text-gray-600">
  <div class="container px-3 py-3 mx-auto">
    <div class="flex flex-wrap w-full mb-8">
      <div class="w-full mb-6 lg:mb-0">
        <h1
          class="
            sm:text-4xl
            text-5xl
            font-bold font-medium
            title-font
            mb-2
            text-gray-900
          "
        >
          New Medicines
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 p-4 w-1/2">
        <a href="" class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            CATEGORY
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            Shooting Stars
          </h2>
          <p class="mt-1">$21.15</p>
          <button
            class="
              p-2
              pl-3
              pr-3
              bg-transparent
              border-2 border-indigo-500
              text-indigo-500 text-sm
              rounded-lg
              hover:bg-indigo-500 hover:text-gray-100
              focus:border-4 focus:border-indigo-300
            "
          >
            Add To Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            CATEGORY
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            Shooting Stars
          </h2>
          <p class="mt-1">$21.15</p>
          <button
            class="
              p-2
              pl-3
              pr-3
              bg-transparent
              border-2 border-indigo-500
              text-indigo-500 text-sm
              rounded-lg
              hover:bg-indigo-500 hover:text-gray-100
              focus:border-4 focus:border-indigo-300
            "
          >
            Add To Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            CATEGORY
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            Shooting Stars
          </h2>
          <p class="mt-1">$21.15</p>
          <button
            class="
              p-2
              pl-3
              pr-3
              bg-transparent
              border-2 border-indigo-500
              text-indigo-500 text-sm
              rounded-lg
              hover:bg-indigo-500 hover:text-gray-100
              focus:border-4 focus:border-indigo-300
            "
          >
            Add To Cart
          </button>
        </div>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            CATEGORY
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            Shooting Stars
          </h2>
          <p class="mt-1">$21.15</p>
          <button
            class="
              p-2
              pl-3
              pr-3
              bg-transparent
              border-2 border-indigo-500
              text-indigo-500 text-sm
              rounded-lg
              hover:bg-indigo-500 hover:text-gray-100
              focus:border-4 focus:border-indigo-300
            "
          >
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-row-reverse flex-wrap m-auto">
      <a
        href=""
        class="
          p-2
          pl-5
          pr-5
          mt-3
          bg-transparent
          border-2 border-green-500
          text-green-500 text-lg
          rounded-lg
          hover:bg-green-500 hover:text-gray-100
          focus:border-4 focus:border-green-300
        "
      >
        See More
      </a>
    </div>
  </div>
</section>
<!-- new products  -->

<!-- feature brands  -->
<section class="text-gray-600">
  <div class="container px-3 py-10 mx-auto">
    <div class="flex flex-wrap w-full mb-8">
      <div class="w-full mb-6 lg:mb-0">
        <h1
          class="
            sm:text-4xl
            text-5xl
            font-bold font-medium
            title-font
            mb-2
            text-gray-900
          "
        >
          Feature Brands
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 p-4 w-1/2">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- feature brands  -->

<!-- articles  -->
<section class="text-gray-600">
  <div class="container px-3 py-3 mx-auto">
    <div class="flex flex-wrap w-full mb-8">
      <div class="w-full mb-6 lg:mb-0">
        <h1
          class="
            sm:text-4xl
            text-5xl
            font-bold font-medium
            title-font
            mb-2
            text-gray-900
          "
        >
          New Articles
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 p-4 w-1/2">
        <a href="" class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-900 title-font text-lg font-medium">title</h3>
          <p class="mt-1">Date</p>
          <h2 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            By Admin
          </h2>
        </div>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a href="" class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-900 title-font text-lg font-medium">title</h3>
          <p class="mt-1">Date</p>
          <h2 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            By Admin
          </h2>
        </div>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a href="" class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-900 title-font text-lg font-medium">title</h3>
          <p class="mt-1">Date</p>
          <h2 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            By Admin
          </h2>
        </div>
      </div>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a href="" class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://star-name-registry.com/blog/images/d/0/1/f/a/d01faec7ef04415eec34c1bfe61913e167fb26c7-snr-blog-37-resized.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-900 title-font text-lg font-medium">title</h3>
          <p class="mt-1">Date</p>
          <h2 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            By Admin
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="flex flex-row-reverse flex-wrap m-auto">
      <a
        href=""
        class="
          p-2
          pl-5
          pr-5
          mt-3
          bg-transparent
          border-2 border-green-500
          text-green-500 text-lg
          rounded-lg
          hover:bg-green-500 hover:text-gray-100
          focus:border-4 focus:border-green-300
        "
      >
        See More
      </a>
    </div>
  </div>
</section>
<!-- articles  -->

<%- include("./partials/footNav") %>

<script>
  let sliderImages = document.querySelectorAll(".slide"),
    arrowLeft = document.querySelector("#arrow-left"),
    arrowRight = document.querySelector("#arrow-right"),
    current = 0;

  // Clear all images
  function reset() {
    for (let i = 0; i < sliderImages.length; i++) {
      sliderImages[i].style.display = "none";
    }
  }

  // Init slider
  function startSlide() {
    reset();
    sliderImages[0].style.display = "block";
  }

  // Show prev
  function slideLeft() {
    reset();
    sliderImages[current - 1].style.display = "block";
    current--;
  }

  // Show next
  function slideRight() {
    reset();
    sliderImages[current + 1].style.display = "block";
    current++;
  }

  // Left arrow click
  arrowLeft.addEventListener("click", function () {
    if (current === 0) {
      current = sliderImages.length;
    }
    slideLeft();
  });

  // Right arrow click
  arrowRight.addEventListener("click", function () {
    if (current === sliderImages.length - 1) {
      current = -1;
    }
    slideRight();
  });

  startSlide();
</script>
<%- include("./partials/footer") %>
