<%- include("../partials/header") %> <%- include("../partials/navbar") %> <%-
include("../partials/messages") %> <% if (user) {%>

<div class="h-full mt-5">
  <div class="border-b-2 block md:flex">
    <div class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">
      <div class="flex justify-between">
        <span class="text-xl font-semibold block"
          ><%=user.user_type %> Profile</span
        >

        <a
          href="/user/edit-profile"
          class="-mt-2 text-md font-bold text-white bg-gray-700 rounded-full px-5 py-2 hover:bg-gray-800"
          >Edit</a
        >
      </div>

      <div class="w-full p-8 mx-2 flex justify-center">
        <img
          id="showImage"
          class="items-center border"
          style="border-radius: 50%; width: 200px; height: 200px"
          src="<%= user.avatar %>"
          alt="user_pic"
        />
      </div>
      <a
        href="/user/order-list"
        class="-mt-2 text-md font-bold text-white bg-green-700 rounded-full px-5 py-2 hover:bg-green-800"
        >Order History</a
      > <a
        href="/user/appointment-list"
        class="-mt-2 text-md font-bold text-white bg-indigo-700 rounded-full px-5 py-2 hover:bg-indigo-800"
        >Appointment List</a
      >
    </div>

    <div class="w-full md:w-3/5 p-8 bg-white lg:ml-4 shadow-md">
      <div class="rounded shadow p-6">
        <div class="pb-6">
          <label for="name" class="font-semibold text-gray-700 block pb-1"
            >Name</label
          >
          <div class="flex">
            <input
              disabled
              id="username"
              class="border-1 rounded-r px-4 py-2 w-full"
              type="text"
              value="<%= user.fullname %>"
            />
          </div>
        </div>
        <div class="pb-4">
          <label for="about" class="font-semibold text-gray-700 block pb-1"
            >Email</label
          >
          <input
            disabled
            id="email"
            class="border-1 rounded-r px-4 py-2 w-full"
            type="email"
            value="<%= user.email %>"
          />
        </div>
        <div class="pb-6">
          <label for="name" class="font-semibold text-gray-700 block pb-1"
            >Phone Number</label
          >
          <div class="flex">
            <input
              disabled
              id="username"
              class="border-1 rounded-r px-4 py-2 w-full"
              type="text"
              value="<%= user.phonenumber %>"
            />
          </div>
        </div>

        <div class="pb-6">
          <label for="name" class="font-semibold text-gray-700 block pb-1"
            >Address</label
          >
          <div class="flex">
            <input
              disabled
              id="username"
              class="border-1 rounded-r px-4 py-2 w-full"
              type="text"
              value="<%= user.address %>"
            />
          </div>
        </div>

        <div class="pb-6">
          <label for="name" class="font-semibold text-gray-700 block pb-1"
            >Profile Created At</label
          >
          <div class="flex">
            <input
              disabled
              id="username"
              class="border-1 rounded-r px-4 py-2 w-full"
              type="text"
              value="<%= user.createdAt %>"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%}%><%- include("../partials/footNav") %> <%- include("../partials/footer") %>
