<%- include("../partials/header") %> <%- include("../partials/navbar") %> <%-
include ('../partials/messages') %>

<!-- search bar -->
<div class="flex relative mt-2 mx-auto w-1/4 max-w-md">
  <form action="/product/search" method="post">
    <input
      style="cursor: pointer"
      class="border-2 border-primary bg-red transition h-12 px-20 rounded-md focus:outline-none w-full text-black text-lg"
      type="search"
      name="search"
      placeholder="Search products"
    />
    <button type="submit" class="absolute right-2 top-3 mr-4">
      <i
        class="fas fa-search text-black text-2xl h-6 w-6 fill-current"
        style="color: blue"
      ></i>
    </button>
  </form>
</div>

<!-- search box here  -->

<!-- product heere  -->
<section class="text-gray-600">
  <div class="container px-3 py-3 mx-auto">
    <div class="flex flex-wrap w-full mb-8">
      <div class="w-full mb-6 lg:mb-0">
        <h1
          class="sm:text-4xl text-5xl font-bold font-medium title-font mb-2 text-gray-900"
        >
          Medicines
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      <%if (product_list){ %> <% product_list.forEach(function(eachproduct){ %>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a
          href="/product/single-product/<%=eachproduct.id%>"
          class="block relative h-48 rounded overflow-hidden"
        >
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="<%= eachproduct.image%>"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            <%= eachproduct.category%>
          </h3>
          <a href="/product/single-product/<%=eachproduct.id%>">
            <h2 class="text-gray-900 title-font text-lg font-medium">
              <%= eachproduct.name%>
            </h2></a
          >
          <p class="mt-1 mb-1">Rs <%= eachproduct.price%> /-</p>
          <form action="/product/add-to-cart" method="post">
            <input
              type="text"
              value=" <%= eachproduct.id%>"
              name="product_id"
              hidden
            />
            <button
              type="submit"
              class="p-2 pl-3 mt-2 pr-3 bg-transparent border-2 border-indigo-500 text-indigo-500 text-sm rounded-lg hover:bg-indigo-500 hover:text-gray-100 focus:border-4 focus:border-indigo-300"
            >
              Add To Cart
            </button>
          </form>
          <form action="/product/add-favourite" method="post">
            <input
              type="text"
              value=" <%= eachproduct.id%>"
              name="product_id"
              hidden
            />
            <button
              type="submit"
              class="p-2 mt-5 pl-3 pr-3 bg-transparent border-2 border-red-500 text-red-500 text-sm rounded-lg hover:bg-red-500 hover:text-gray-100 focus:border-4 focus:border-red-300"
            >
              Favourite <i class="fa-solid fa-heart"></i>
            </button>
          </form>
        </div>
      </div>
      <% }); %> <% } %>
    </div>
  </div>
</section>

<!-- product heere  -->

<%if (product_list.length == 0){ %>

<!-- component -->
<div class="mt-20 h-screen">
  <div class="bg-white p-6 md:mx-auto">
    <div class="text-center">
      <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">
        Nothing is on product!
      </h3>
      <p class="text-gray-600 my-2">Let admin to add product.</p>
      <div class="py-10 text-center"></div>
    </div>
  </div>
</div>

<%}%> <%- include("../partials/footNav") %> <%- include("../partials/footer") %>
