<%- include("../partials/header") %> <%- include("../partials/navbar") %> <%-
include ('../partials/messages') %>

<!-- search bar -->
<div class="flex relative mt-2 mx-auto w-1/4 max-w-md">
  <form action="/product/search" method="post">
    <input
      style="cursor: pointer"
      class="border-2 border-primary bg-red transition h-12 px-20 rounded-md focus:outline-none w-full text-black text-lg"
      type="search"
      name="search"
      placeholder="Search products"
    />
    <button type="submit" class="absolute right-2 top-3 mr-4">
      <i
        class="fas fa-search text-black text-2xl h-6 w-6 fill-current"
        style="color: blue"
      ></i>
    </button>
  </form>
</div>

<!-- search box here  -->

<!-- single product -->

<%if (single_product){ %>

<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-20 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
        src="<%= single_product.image%>"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          <%= single_product.brand%>
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          <%= single_product.name%>
        </h1>
        <div class="flex mb-4">
          <span class="flex items-center">
            <%= single_product.createdAt%>
            <span class="text-gray-600 ml-3"
              ><%= commentDetails.length %> Reviews</span
            >
          </span>
          <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200">
            <%= single_product.category%>
          </span>
        </div>
        <p class="leading-relaxed"><%= single_product.description%></p>
        <div
          class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5"
        ></div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900"
            >Rs <%= single_product.price %> /-</span
          >
          <div class="flex ml-auto py-2 px-6 focus:outline-none rounded"></div>
          <form action="/product/add-favourite" method="post">
            <input
              type="text"
              value=" <%= single_product.id%>"
              name="product_id"
              hidden
            />
            <button
              type="submit"
              class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4 hover:bg-blue-700 hover:text-red-700"
            >
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
                ></path>
              </svg>
            </button>
          </form>
          <form action="/product/add-to-cart" method="post">
            <input
              type="text"
              value=" <%= single_product.id%>"
              name="product_id"
              hidden
            />
            <button
              type="submit"
              class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4 hover:bg-blue-700 hover:text-white"
            >
              <i class="fa-solid fa-cart-plus"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap w-full mb-8 ml-10">
    <div class="w-full mb-6 lg:mb-0">
      <h1
        class="sm:text-4xl text-5xl font-bold font-medium title-font mb-2 text-gray-900"
      >
        Additional Details
      </h1>
      <div class="h-1 w-20 bg-indigo-500 rounded"></div>
    </div>
  </div>
  <!-- additional details  -->
  <div class="container flex flex-wrap w-full mb-5 ml-10">
    <div class="w-full mb-6 lg:mb-0">
      <h3 class="sm:text-2xl text-3xl font-bold font-medium mb-2 text-gray-900">
        Uses
      </h3>
      <div class="text-indigo-500 ml-5"><%= single_product.uses%></div>
    </div>
    <div class="w-full mb-6 lg:mb-0">
      <h3 class="sm:text-2xl text-3xl font-bold font-medium mb-2 text-gray-900">
        Side Effects
      </h3>
      <div class="text-indigo-500 ml-5"><%= single_product.sideeffects%></div>
    </div>
    <div class="w-full mb-6 lg:mb-0">
      <h3 class="sm:text-2xl text-3xl font-bold font-medium mb-2 text-gray-900">
        Dosages
      </h3>
      <div class="text-indigo-500 ml-5"><%= single_product.dosages%></div>
    </div>
    <div class="w-full mb-6 lg:mb-0">
      <h3 class="sm:text-2xl text-3xl font-bold font-medium mb-2 text-gray-900">
        Precautions & Warnings
      </h3>
      <div class="text-indigo-500 ml-5"><%= single_product.pandw%></div>
    </div>
  </div>
  <!-- additional details  -->
</section>

<section class="text-gray-600 mt-14">
  <div class="container px-3 py-3 mx-auto">
    <div class="flex flex-wrap w-full mb-8">
      <div class="w-full mb-6 lg:mb-0">
        <h1
          class="sm:text-4xl text-5xl font-bold font-medium title-font mb-2 text-gray-900"
        >
          Comments
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <!-- Comment goes here -->

    <%if (commentDetails){ %> <% commentDetails.forEach(function(c){ %>
    <section class="rounded-b-lg mt-4">
      <div id="task-comments" class="pt-4">
        <!--     comment-->
        <div
          class="bg-white rounded-lg p-3 flex flex-col justify-center items-center md:items-start shadow-lg mb-4"
        >
          <div class="flex flex-row justify-center mr-2">
            <img
              alt="avatar"
              width="48"
              height="48"
              class="rounded-full w-10 h-10 mr-4 shadow-lg mb-4"
              src="<%= c.avatar %>"
            />
            <h3
              class="text-purple-600 font-semibold text-lg text-center md:text-left"
            >
              <%= c.fullname %>
            </h3>
          </div>

          <p
            style="width: 90%"
            class="text-gray-600 text-lg text-center md:text-left"
          >
            <%= c.comment %>
          </p>
          <p
            style="width: 90%"
            class="text-gray-600 text-sm mt-1 text-center md:text-left"
          >
            <%= c.commentAt %>
          </p>
        </div>
        <!--  comment end-->
      </div>
    </section>

    <% }); %> <% } %>

    <!-- Comment goes here -->
    <% if (user){%>
    <div class="flex flex-wrap -m-4">
      <!-- comment form -->
      <div
        class="flex mx-auto items-center justify-center shadow-lg mt-7 mx-8 mb-4 max-w-lg"
      >
        <form
          class="w-full max-w-xl bg-white rounded-lg px-4 pt-2"
          action="/comments/add-comment"
          method="post"
        >
          <input type="hidden" name="p_id" value="<%= single_product.id%>" />
          <div class="flex flex-wrap -mx-3 mb-6">
            <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">
              Add a new comment
            </h2>
            <div class="w-full md:w-full px-3 mb-2 mt-2">
              <textarea
                class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"
                name="message"
                placeholder="Type Your Comment"
                required
              ></textarea>
            </div>
            <div class="w-full md:w-full flex items-start md:w-full px-3">
              <div class="-mr-1">
                <input
                  type="submit"
                  class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"
                  value="Post Comment"
                />
              </div>
              <div class="-mr-1 ml-2">
                <button
                  type="reset"
                  class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"
                >
                  Clear
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- comment form -->
    </div>
    <%}%>
  </div>
</section>

<% } %>

<!-- new Products  -->
<section class="text-gray-600">
  <div class="container px-3 py-3 mx-auto">
    <div class="flex flex-wrap w-full mb-8">
      <div class="w-full mb-6 lg:mb-0">
        <h1
          class="sm:text-4xl text-5xl font-bold font-medium title-font mb-2 text-gray-900"
        >
          Other Medicines
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>

    <div class="flex flex-wrap -m-4">
      <%if (other_medicines){ %> <%
      other_medicines.forEach(function(eachproduct){ %>
      <div class="lg:w-1/4 p-4 w-1/2">
        <a
          href="/product/single-product/<%=eachproduct.id%>"
          class="block relative h-48 rounded overflow-hidden"
        >
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="<%= eachproduct.image%>"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            <%= eachproduct.category%>
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            <%= eachproduct.name%>
          </h2>
          <p class="mt-1">Rs <%= eachproduct.price%> /-</p>
          <form action="/product/add-to-cart" method="post">
            <input
              type="text"
              value=" <%= eachproduct.id%>"
              name="product_id"
              hidden
            />
            <button
              type="submit"
              class="p-2 pl-3 mt-2 pr-3 bg-transparent border-2 border-indigo-500 text-indigo-500 text-sm rounded-lg hover:bg-indigo-500 hover:text-gray-100 focus:border-4 focus:border-indigo-300"
            >
              Add To Cart
            </button>
          </form>
          <form action="/product/add-favourite" method="post">
            <input
              type="text"
              value=" <%= eachproduct.id%>"
              name="product_id"
              hidden
            />
            <button
              type="submit"
              class="p-2 mt-5 pl-3 pr-3 bg-transparent border-2 border-red-500 text-red-500 text-sm rounded-lg hover:bg-red-500 hover:text-gray-100 focus:border-4 focus:border-red-300"
            >
              Favourite <i class="fa-solid fa-heart"></i>
            </button>
          </form>
        </div>
      </div>
      <% }); %> <% } %>
    </div>
  </div>
</section>
<!-- new products  -->

<%- include("../partials/footNav") %> <%- include("../partials/footer") %>
